@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Con esto reseteamos todos los elementos de la pagina
ya que con esto se elimina cualquier estilo por defecto de los navegadores
esto hará que todo este mas pegado*/
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #f6f6f6;
    /*Si quieremos que nuestra pagina ocupe el 100% de la altura del navegador usamos lo siguiente:*/
    /*height: 100vh;*/
    box-sizing: border-box;
}

strong {
    color: #d91778;
}

.titulo-destaque{
    color: #17d9d9;
}

.presentacion {
    /*Organiza todo en linea, de manera horizontal*/
    display: flex;
    /*Centraliza todos los elementos al centro de una imagen si hay*/
    align-items: center;
    /*Da espacio a los lados del body dentro de la pagina*/
    margin: 10% 15%;
    /*Espacio entre cada elemento dentro del body*/
    justify-content: space-between;
}

.presentacion_contenido {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion_contenido_titulo {
   font-size: 36px; 
   font-family: "Krona One", sans-serif;
}

.presentacion_contenido_texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion_enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion_enlaces_subtitulos {
    font-family: krona one, sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion_enlaces_link {
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #f6f6f6;
    border: 2px solid #17d9d9;
    display: flex;
    justify-content: center;
    gap: 10px;
}
/*Sobreado al boton cuando se pone el cursor encima*/
.presentacion_enlaces_link:hover{
    background-color: #272727;
}

.footer {
    background-color: #17d9d9;
    padding: 24px;
    color:#000000;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}